{% extends "layouts/base.njk" %}
{% block content %}
  <div class="wrapper">
    <article class="intro">
      <h1>{{ intro.eyebrow }}
        <em>{{ intro.main }}</em>
      </h1>
    </article>
  </div>
  <div class="wrapper">
    <article class="profile">{{ content | safe }}</article>
  </div>
  <div class="wrapper">
    <div cleas="resume">
      <div class="resume__header">
        <h2>{{ resume.title }}</h2>
      </div>
      <div class="resume__content">
        <div class="resume__experience">
          <div class="resume__content__header">
            <h3>Experience</h3>
          </div>
          <ul>
            {% for item in resume.experience %}
              <li class="resume__experience__item">
                <h4>{{ item.employer }}</h4>
                <p>{{ item.position }}</p>
                <p>{{ item.date }}</p>
                <p>{{ item.location }}</p>
                <p>{{ item.desc }}</p>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="resume__education">
          <div class="resume__content__header">
            <h3>Education</h3>
          </div>
          <ul>
            {% for item in resume.education %}
              <li class="resume__education__item">
                <h4>{{ item.school }}</h4>
                <p>{{ item.degree }}</p>
                <p>{{ item.graudation }}</p>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="resume__skills">
          <div class="resume__content__header">
            <h3>Skills</h3>
          </div>
          <ul>
            {% for item in resume.skills %}
              <li>{{ item }}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="resume__technology">
          <div class="resume__content__header">
            <h3>Technology</h3>
          </div>
          <ul>
            {% for item in resume.technology %}
              <li>{{ item }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}