<!DOCTYPE html>
<html lang="en" class="overflow-x-hidden">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include "partials/meta-info.njk" %}

    <link rel="stylesheet" href="/css/main.css" media="print" onload="this.media='all'">
  </head>
  <body class="box-border relative overflow-x-hidden min-h-screen font-body bg-blueGray-100">
    {% include "partials/site-head.njk" %}
    <main id="main-content" class="pb-12 bg-white" tabindex="-1">
      {% block content %}{% endblock %}
      {% set ctaContent = cta %}
      {% include "partials/cta.njk" %}
    </main>
    {% include "partials/site-foot.njk" %}
    <script src="/js/main.js"></script>
  </body>
</html>