<!DOCTYPE html>
<html lang="en" class="overflow-x-hidden">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include "partials/meta-info.njk" %}

    {% include "partials/favicon.njk" %}

    <script>
      if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document
          .documentElement
          .classList
          .add('dark')
      } else {
        document
          .documentElement
          .classList
          .remove('dark')
      }
    </script>

    <link rel="stylesheet" href="/css/main.css" media="print" onload="this.media='all'">
  </head>
  <body class="box-border relative overflow-x-hidden min-h-screen font-body dark:text-gray-50 bg-blueGray-100 dark:bg-gray-800">
    {% include "partials/site-head.njk" %}
    <main id="main-content" class="pb-12 bg-white dark:bg-gray-900" tabindex="-1">
      {% block content %}{% endblock %}
      {% set ctaContent = cta %}
      {% include "partials/cta.njk" %}
    </main>
    {% include "partials/site-foot.njk" %}
    <script src="/js/main.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>