{% extends "layouts/base.njk" %}
{% block content %}
  <div class="container">
    <div id="hero" class="grid gap-6 md:grid-cols-2">
      <div class="flex flex-col justify-center">
        <h1>{{ title }}</h1>
        <p class="font-display text-2xl mb-5">{{ summary }}</p>
        {% if roles %}
          {% if roles.length > 1 %}
            {% set text = "Roles" %}
          {% else %}
            {% set text = "Role" %}
          {% endif %}
          <p class="text-lg">
            <strong class="inline-block px-2 py-1 me-2 bg-blueGray-900 dark:bg-gray-50 text-white dark:text-gray-900">{{ text }}</strong>
            {% for item in roles %}
              <span>{{ item }}</span>
              {% if not loop.last %}
                |
              {% endif %}
            {% endfor %}
          </p>
        {% endif %}
      </div>
      <img src="{{ hero.image }}" alt="{{ hero.imageAlt }}" class="place-self-center">
    </div>
  </div>
  <div class="container">
    <div class="keyFeatures my-8">
      <h2>Key Features</h2>
      <div class="grid gap-4 grid-cols-feature">
        {% for feature in keyFeatures %}
          <div class="keyFeatures__item md:mb-16">
            <figure class="">
              <div class="bg-blueGray-100 dark:bg-gray-800 sm:h-64 md:h-80 lg:h-80 xl:h-96 p-6">
                <img src="{{ feature.image }}" alt="{{ feature.imageAlt }}" loading="lazy" class="object-contain w-full h-full">
              </div>
              <figcaption class="">
                <h3>{{ feature.title }}</h3>
                <p class="text-xl text-blueGray-700 dark:text-gray-400">{{ feature.summary }}</p>
              </figcaption>
            </figure>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% if stats %}
    <div class="container">
      <div class="my-8 md:my-28">
        <h2>
          {% if statsHeading %}
            {{ statsHeading }}
          {% else %}
          Project Statistics
        {% endif %}
        </h2>
        <div class="grid md:grid-cols-3 divide-y-2 md:divide-y-0 md:divide-x-2 divide-blueGray-600 dark:divide-gray-400">
          {% for stat in stats %}
            <div class="px-16 py-12">
              <p class="text-8xl font-display text-blueGray-900 dark:text-gray-50">
                <strong>{{ stat.main }}</strong>
              </p>
              <p class="text-2xl text-blueGray-700 dark:text-gray-400">{{ stat.sub }}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
  {% if promoVid %}
    <div class="container">
      <div class="my-8 md:my-28">
        <h2>
          {% if promoVidHeading %}
            {{ promoVidHeading }}
          {% else %}
          Promotional Video
        {% endif %}
        </h2>
        {% include "partials/" + promoVid %}
      </div>
    </div>
  {% endif %}
  {% if gallery %}
    <div class="container">
      <div class="my-8 md:my-28">
        <h2>
          {% if galleryHeading %}
            {{ galleryHeading }}
          {% else %}
            Gallery
          {% endif %}
        </h2>
        <div class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3">
          {% for item in gallery %}
            <figure id="gallery__item-{{ loop.index }}" class="gallery__item relative cursor-pointer p-6 bg-blueGray-100 dark:bg-gray-800" data-galleryID="{{ loop.index }}">
              <div class="gallery__item__imgCont sm:h-64 md:h-80 lg:h-64 xl:h-96">
                <img src="{{ item.image }}" alt="{{ item.imageAlt }}" loading="lazy" class="object-contain w-full h-full">
              </div>
              <div class="expand w-20 h-20 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-blueGray-100 dark:text-gray-50 z-20 opacity-0 transition-opacity">
                {% include "icons/expand.svg" %}
              </div>
              <figcaption class="sr-only">
                <p>{{ item.summary }}</p>
              </figcaption>
            </figure>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
  <div class="container">
    <div class="content">
      {% set contentHeading = 'Case Study' %}
      {% if contentTitle %}
        {% set contentHeading = contentTitle %}
      {% endif %}
      <h2>{{ contentHeading }}</h2>
      {{ content | safe }}
    </div>
  </div>
  {% if gallery %}
    <div id="lightbox" class="hidden items-center justify-center fixed top-0 left-0 h-screen w-screen px-5 bg-blueGray-900 dark:bg-gray-900 bg-opacity-90 dark:bg-opacity-90 z-40">
      <div class="close w-12 h-12 absolute top-8 right-8 text-blueGray-100 z-20 cursor-pointer">
        {% include "icons/close.svg" %}
      </div>
      <div id="lightbox__prev" class="w-12 h-12 flex-shrink-0 text-blueGray-100 dark:text-gray-50 cursor-pointer">
        {% include "icons/chevron-left.svg" %}
      </div>
      <div id="lightbox__media" class="flex max-h-3/4 flex-shrink">
        {% for item in gallery %}
          <figure id="lightbox__item-{{ loop.index }}" class="lightbox__item hidden max-h-full" data-lightboxID="{{ loop.index }}">
            <img src="{{ item.image }}" alt="{{ item.imageAlt }}" loading="lazy" class="object-contain">
            <figcaption class="text-xl text-center text-white dark:text-gray-50 mt-3">
              <p>{{ item.summary }}</p>
            </figcaption>
          </figure>
        {% endfor %}
      </div>
      <div id="lightbox__next" class="w-12 h-12 flex-shrink-0 text-blueGray-100 dark:text-gray-50 cursor-pointer">
        {% include "icons/chevron-right.svg" %}
      </div>
    </div>
  {% endif %}
{% endblock %}
{% block scripts %}
  <script>
    const mainContent = document.getElementById('main-content');

    mainContent
      .classList
      .remove('bg-white');
    mainContent
      .classList
      .remove('dark:bg-gray-900');
    mainContent
      .classList
      .add('bg-projects-{{ color }}-light');
    mainContent
      .classList
      .add('dark:bg-projects-{{ color }}-dark');

    const colorChange = (pos) => {
      if (window.scrollY > pos) {
        mainContent
          .classList
          .remove('bg-projects-{{ color }}-light');
        mainContent
          .classList
          .remove('dark:bg-projects-{{ color }}-dark');
        mainContent
          .classList
          .add('bg-white');
        mainContent
          .classList
          .add('dark:bg-gray-900');
      } else {
        mainContent
          .classList
          .remove('bg-white');
        mainContent
          .classList
          .remove('dark:bg-gray-900');
        mainContent
          .classList
          .add('bg-projects-{{ color }}-light');
        mainContent
          .classList
          .add('dark:bg-projects-{{ color }}-dark');
      }
    }

    document.addEventListener('scroll', () => {
      if (window.innerWidth >= 1536) {
        colorChange(800);
      } else if (window.innerWidth >= 1280) {
        colorChange(750);
      } else if (window.innerWidth >= 1024) {
        colorChange(600);
      } else if (window.innerWidth >= 768) {
        colorChange(500);
      } else if (window.innerWidth >= 640) {
        colorChange(700);
      } else {
        colorChange(500);
      }
    });
  </script>
{% endblock %}