<footer>
  <div class="wrapper flex justify-between items-center py-6">
    <p>&copy; {% currentYear %} Brianna Buissereth</p>
    <nav>
      <ul class="flex gap-4">
        {% for item in navigation.items %}
          <li class="before:hidden">
            <a href="{{ item.url }}" class="font-normal text-blueGray-600 hover:text-blueGray-900 hover:no-underline">{{ item.text }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</footer>