<div class="container">
  <a href="#main-content" class="btn sr-only focus:not-sr-only focus:mt-3 focus:mb-5 focus:px-5 focus:py-4">Skip to content</a>
</div>
<header class="sticky -top-px w-screen z-20 bg-blueGray-100 dark:bg-gray-800">
  <div class="container flex justify-between items-center h-24 relative">
    <a href="/" aria-label="{{ site.name }} - Home" class="inline-block relative z-20 hover:no-underline">
      <div class="logo flex flex-col md:flex-row items-center md:gap-4 text-orange-600 dark:text-orange-500">
        <span class="w-12 h-12">{% include "partials/brand.svg" %}</span>
        <p class="hidden md:block font-display md:text-xl font-semibold text-blueGray-900 dark:text-blueGray-50">Brianna Buissereth</p>
      </div>
    </a>
    <nav id="nav__top" class="hidden md:flex h-full">
      <ul class="nav__site flex w-auto h-full my-0 z-10">
        {% for item in navigation.items %}
          <li class="mt-4 mb-0 pl-0 before:hidden">
            <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>
              {{ item.text }}
            </a>
          </li>
        {% endfor %}
      </ul>
      <ul class="nav__social flex items-center gap-5 w-auto my-0 ml-10 z-10">
        {% for item in social.items %}
          <li class="before:hidden m-0 p-0">
            <a href="{{ item.url }}" target="_blank" rel="nofollow" class="block w-8 h-8 text-blueGray-600 dark:text-gray-400 hover:text-blueGray-900 dark:hover:text-gray-50">
              {% include item.image %}
            </a>
          </li>
        {% endfor %}
      </ul>
      <div class="mode-switch cursor-pointer mt-8 ml-10 h-8 text-blueGray-600 dark:text-gray-400 hover:text-blueGray-900 dark:hover:text-gray-50 transition-colors" tabindex="0">
        <div class="block dark:hidden h-full">
          {% include "icons/sun.svg" %}
        </div>
        <div class="hidden dark:block h-full">
          {% include "icons/moon.svg" %}
        </div>
      </div>
    </nav>
    <div id="hamburger" class="flex items-center relative md:hidden w-12 h-full text-blueGray-900 dark:text-gray-50 cursor-pointer z-20">
      <div class="block">
        {% include "icons/menu.svg" %}
      </div>
      <div class="hidden">
        {% include "icons/close.svg" %}
      </div>
    </div>
  </div>
</header>
<nav id="nav__mobile" class="absolute top-0 left-full pt-24 w-screen h-screen bg-blueGray-100 dark:bg-gray-800 z-10 transition-position">
  <div class="container">
    <ul>
      {% for item in navigation.items %}
        <li class="before:hidden mb-4 py-4 pl-0">
          <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}
            class="font-display font-semibold text-2xl text-blueGray-600 dark:text-gray-400 hover:text-blueGray-900 dark:hover:text-gray-50 hover:no-underline"
          >
            {{ item.text }}
          </a>
        </li>
      {% endfor %}
    </ul>
    <ul class="flex gap-6">
      {% for item in social.items %}
        <li class="before:hidden m-0 p-0">
          <a href="{{ item.url }}" target="_blank" rel="nofollow" class="block w-12 h-12 text-blueGray-600 dark:text-gray-400 hover:text-blueGray-900 dark:hover:text-gray-50">
            {% include item.image %}
          </a>
        </li>
      {% endfor %}
    </ul>
    <div class="mode-switch cursor-pointer h-12 w-12 text-blueGray-600 dark:text-gray-400 hover:text-blue-gray-900 dark:hover:text-gray-50 transition-colors" tabindex="0">
      <div class="block dark:hidden h-full">
        {% include "icons/sun.svg" %}
      </div>
      <div class="hidden dark:block h-full">
        {% include "icons/moon.svg" %}
      </div>
    </div>
  </div>
</nav>